// 颜色
$tk-color-main: #fff;
$tk-color-yellow: yellow;

$tk-font-size-df: 15px;
$tk-font-size-lg: 15px;
$tk-font-size-sm: 15px;
$tk-font-size-xs: 15px;
$tk-font-size-xxs: 15px;
$tk-font-size-xxl: 15px;

$size: 15px;
